/* Réinitialisation des styles */
* {
    
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Définition des variables de couleur */
  :root {
    --color-1: #222831;
    --color-2: #31363F;
    --color-3: #76ABAE;
    --color-4: #EEEEEE;
  }
  
/* Utilisation d'une taille de police de base */
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px; /* Taille de police de base */
}

/* Media query pour les écrans plus petits */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Ajustez la taille de la police pour les écrans plus petits */
  }
}
/* login-card */

/* Media query pour les écrans encore plus petits */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px; /* Ajustez la taille de la police pour les écrans encore plus petits */
  }
}

  /* Styles pour les liens */
  a {
    text-decoration: none;
    display: inline-block;
  }
  
  
  /* Styles spécifiques à la bande supérieure de l'en-tête */
  .header-top-strip {
    border-bottom: 1px solid var(--color-2);
    background-color: var(--color-1);
    margin-left: auto;
    /* Étendre horizontalement sur toute la largeur */
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}
.gap-15{
    gap:15px
}
.gap-30{
    gap:30px
}
  
  /* Styles spécifiques à la partie supérieure de l'en-tête */
  .header-upper  {
      background-color: var(--color-2); /* Appliquer le fond à tous les liens à l'intérieur de .header-upper */
  }
  
/* Styles spécifiques pour les images dans la section d'en-tête */
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

/* Media query pour les écrans de petite taille img13 */
@media screen and (max-width: 768px) {
  .header-upper .header-upper-links img {
    width: 25px; /* Ajustez la taille pour les écrans plus petits */
    height: 25px; /* Ajustez la taille pour les écrans plus petits */
  }
}

  /* Media query pour les petits écrans (max-width: 768px) */
  @media (max-width: 768px) {
    .col-2,
    .col-5 {
      width: 100%;
      text-align: center;
      padding-top: 40px;
    }
  
  
    .header-upper-links > div {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .header-upper .header-upper-links img {
      margin-right: 0;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
    }
  }
  
  /* Media query pour les écrans extra petits (max-width: 576px) */
  @media (max-width: 576px) {
    .header-upper .header-upper-links img {
        margin-right: 10px;
      width: 25px;
      height: 25px;
    }
  }
  .header-botton{
    background-color: var(--color-3);
  }

/* Styles de base pour les liens de menu */
.menu-links a,
.header-botton .dropdown button {
   color: white;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   letter-spacing: 0.3px; /* Ajout de "px" après la valeur de l'espacement entre les lettres */
   text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .menu-links a{
    font-size: 8px; /* Ajustez la taille de la police pour les écrans de petite taille */
    line-height: 8px; /* Ajustez la hauteur de ligne pour les écrans de petite taille */
    margin-top: 5px; /* Ajustez la marge supérieure pour déplacer l'élément vers le bas */
    margin-bottom: 5px; /* Ajustez la marge inférieure pour déplacer l'élément vers le haut */
  }
}


@media screen and (max-width: 576px) {
  .menu-links a,
  .header-botton .dropdown button {
    font-size: 8px; /* Ajustez la taille de la police pour les écrans de petite taille */
    line-height: 10px; /* Ajustez la hauteur de ligne pour les écrans de petite taille */
    gap: 0px;
    line-height: 10px;
   font-weight: 100;
  }
}
@media screen and (max-width: 300px) {
  .menu-links a,
  .header-botton .dropdown button {
    font-size: 8px; /* Ajustez la taille de la police pour les écrans de petite taille */
    line-height: 10px; /* Ajustez la hauteur de ligne pour les écrans de petite taille */
    gap: 0px;
    line-height: 10px;
   font-weight: 100;
  }
}
 .img1{
    width: 25px;
    height: 25px;
 }
 .header-botton .dropdown-menu{
    background-color: var(--color-3);
    width: 100%;
    
 }
 .header-botton .dropdown-menu .dropdown-item{
    color: white;
    padding: 20px;
    margin-bottom:  3px;
    border-bottom: 1px solid var(--color-1) ;
 }
 .header-botton .dropdown-menu .dropdown-item:hover{
    background-color: transparent;
 }
 .input-group-text{
    background-color: var(--color-4);
 }
 




 /* footer */
 footer{
  
    background-color: var(--color-4);
 }
 footer:not(:first-child){
    border-top: 1px solid black;
 }

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  

  
  .footer {
   
    background-color:#bbbbbb;
  }
  
  .footer .container .main-foot .col .main-title {
    font-weight: bold;
    margin-top: 30px;

  }
  
  .footer .container .main-foot .col ul li h5 {
    font-size: 20px;
    font-weight: bold;
    
  }
  
  .footer .container .main-foot .col ul li a {
    text-decoration: none;
    color: var(--color-1);
    font-size: 16px;
    transition: all .4s ease;
    
  }
  
  .footer .container .main-foot .col ul li a:hover {
    color: rgb(84, 85, 87);
    margin-left: 10px;
    
  }
  
  .footer .container .main-foot .col ul li .map iframe {
    width: 100%;
    height: 150px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    transition: all .5s ease;
    
  }
  
  .footer .container .main-foot .col ul li .map iframe:hover {
    -webkit-box-shadow: 1px 1px 3px 1px #dddddd;
    -moz-box-shadow: 1px 1px 3px 1px #dddddd;
    box-shadow: 1px 1px 3px 1px #dddddd;
    
  }
  
  
  .footer .container .bott-foot .copy {
    color: rgb(153, 153, 153);
    font-size: 16px;
    
  }
  
  .footer .container .bott-foot .design {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: bold;
    
  }
  
  
  @media (max-width:768px) {
  
    .footer .container .main-foot .col .main-title {
      font-weight: bold;
    }
    
    .footer .container .main-foot .col ul li h5 {
      font-size: 20px;
      font-weight: bold;
    }
    
    .footer .container .main-foot .col ul li a {
      text-decoration: none;
      color: white ;
      font-size: 15px;
      transition: all .4s ease;
    }
  
  
    .footer .container .main-foot .col ul li a:hover {
      color: rgb(84, 85, 87);
      margin-left: 3px;
    }
    
    
    .footer .container .main-foot .col ul li .map iframe {
      width: 92%;
      height: 150px;
      -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
      -moz-box-shadow: 3px 3px 10px 3px #dddddd;
      box-shadow: 3px 3px 10px 3px #dddddd;
      transition: all .5s ease;
    }
    
    .footer .container .main-foot .col ul li .map iframe:hover {
      -webkit-box-shadow: 1px 1px 3px 1px #dddddd;
      -moz-box-shadow: 1px 1px 3px 1px #dddddd;
      box-shadow: 1px 1px 3px 1px #dddddd;
    }
    
  
    .footer .container .bott-foot .copy {
      color: rgb(153, 153, 153);
      font-size: 17px;
      
    }
    
    .footer .container .bott-foot .design {
      color: rgb(117, 117, 117);
      font-size: 17px;
      font-weight: bold;
      
    }
  
  }
  
  
  
  @media (max-width:450px) {
  
    .footer .container .main-foot .col .main-title {
      font-weight: bold;
    }
    
    .footer .container .main-foot .col ul li h5 {
      font-size: 20px;
      font-weight: bold;
    }
    
    .footer .container .main-foot .col ul li a {
      text-decoration: none;
      color: rgb(113, 170, 255);
      font-size: 16px;
      transition: all .4s ease;
    }
  
    .footer .container .main-foot .col ul li a:hover {
      color: rgb(84, 85, 87);
      margin-left: 3px;
    }
    
    
    .footer .container .main-foot .col ul li .map iframe {
      width: 90%;
      height: 150px;
      -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
      -moz-box-shadow: 3px 3px 10px 3px #dddddd;
      box-shadow: 3px 3px 10px 3px #dddddd;
      transition: all .5s ease;
    }
    
    .footer .container .main-foot .col ul li .map iframe:hover {
      -webkit-box-shadow: 1px 1px 3px 1px #dddddd;
      -moz-box-shadow: 1px 1px 3px 1px #dddddd;
      box-shadow: 1px 1px 3px 1px #dddddd;
    }
    
  
    .footer .container .bott-foot .copy {
      color: rgb(153, 153, 153);
      font-size: 16px;
    }
    
    .footer .container .bott-foot .design {
      color: rgb(117, 117, 117);
      font-size: 16px;
      font-weight: bold;
    }
    
  }

.main-banner-content,
.small-banner-content {
  position: absolute;
  top: 15%;
  left: 5%;
}

.main-banner-content h4,
.small-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-1);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content p{
 
    text-shadow: -5px 6px 7px rgba(206,89,55,0.88);
    font-size: 12em; /* Ajuster la taille de la police selon vos besoins */
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 50%; /* Ajuster la marge vers le bas selon vos besoins */
  
}
.small-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2px;
  color: var(--color-2);
}

.main-banner-content h5,
.small-banner-content h5 {
  font-size: 42px;
  line-height: 64px;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 500;
  text-transform: none;
}
.main-banner-content .img-fluid {
  /* max-width: 50%; */
  height: 300px;
}
@media screen and (max-width: 760px) {
  .main-banner-content,
  .small-banner-content {
    position: relative; 
    left: auto;
    text-align: center;
    margin-bottom: 20px; 
  }
  .main-banner-content h4,
  .small-banner-content h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .main-banner-content p{
    font-size: 40px
  }
  .small-banner-content p {
    font-size: 8px; 
    line-height: 8px; 
  }

  .main-banner-content h5,
  .small-banner-content h5 {
    font-size: 28px; 
    line-height: 48px; 
  }
  .img10{
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 450px) {
  .main-banner-content,
  .small-banner-content {
    position: relative; 
    left: auto;
    text-align: center;
    margin-bottom: 20px; 
  }

  .main-banner-content h4,
  .small-banner-content h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .main-banner-content p{
    font-size: 20px;
    margin-top: 80px;
    margin-left: -10px;
  }
  .small-banner-content p {
    font-size: 8px; 
    line-height: 8px; 
  }

  .main-banner-content h5,
  .small-banner-content h5 {
    font-size: 28px; 
    line-height: 48px; 
  }
}
.img10 {
  height: 400px;
  width: 600px;
}
.img2 {
  height:200px;
  width: 300px;
}
@media (min-width: 600px) {
  .img2 {
    height:200px;
  width: 250px;
  }
}

@media (min-width: 900px) {
  .img2 {
    height:200px;
  width: 200px;
  }
}

@media (min-width: 1200px) {
  .img2 { height:200px;
    width: 250px;
  }
}

.button {
  background-color: var(--color-1);
  color: white;
  font-size: 14px;
  padding: 13px 13px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--color-4);
  color: black;
}

/* Media queries for responsiveness */


.icons{
  height:50px;
  width: 50px;
}
.home-wrapper-2 .services h6{
  font-size: 24px;
  margin-left: 5px;
}
.home-wrapper-2 .services p{
  margin-left: 5px;
}
.categories {
  background-color: white;
  box-shadow: 0 0 0px black;
  padding: 10px;
}
@media screen and (max-width: 450px) {
  .home-wrapper-2  .ena{
    display: flex !important;
    flex-direction: column;
    gap: 40px;

  }
  .align-items-center {
    align-items: initial !important;
  }
  .home-wrapper-2 .services p{
    margin-left: 5px;
  }
  .categories {
    background-color: white;
    box-shadow: 0 0 0px black;
    padding: 10px;
  }
}
.img12 {
  width: 90%;
  margin-right: 0px;
}

.categories .para {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10px;
}
.categories h4 {
  margin-left: 10px;
}

.categories .border{
  box-shadow: 0 0   10px var(--color-1) ;
}
.img11{
  height: 80px;
  width: 100px;
}.img12


.cardproduct .ant-card-meta-title {
  color: red;
}
.icon-wrapper {
  position: absolute;
  top: 20px; /* Ajustez la valeur en fonction de votre mise en page */
  right: 10px; /* Ajustez la valeur en fonction de votre mise en page */
  z-index: 1; /* Assure que l'icône apparaît au-dessus de l'image */
  color: black !important;
  width: 10px;
  height: 50px;
}
.icon-wrapper a{
  color: black !important;
  width: 35px;
  height: 50px;
}
.icon-wrapper {
  display: none !important;
}


.cardproduct:hover .icon-wrapper {
  display: flex !important;
  transition: 0.3s;
}
.love {
  position: absolute;
  top: 12px; /* Ajustez la valeur en fonction de votre mise en page */
  right: 20px; /* Ajustez la valeur en fonction de votre mise en page */
  z-index: 1; /* Assure que l'icône apparaît au-dessus de l'image */
  color: rgb(0, 0, 0) !important;

}
.special-product-card {
  padding: 10px;
  padding-top: 20px; /* Augmentez cette valeur pour ajouter de l'espace en haut */
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: var(--color-4);
}
.m-t-20 {
  margin-top: 20px; /* Ajustez cette valeur selon vos besoins */
}
.famous-content {
  position: absolute;
  top: 0;
  left: 0; /* Ajoutez ceci pour positionner le contenu à partir du coin supérieur gauche */
  right: 0; /* Ajoutez ceci pour étendre le contenu sur toute la largeur de la carte */
  padding: 10px; /* Ajoutez un espacement autour du contenu */
  background-color: rgba(0, 0, 0, 0.5); /* Ajoutez un fond semi-transparent pour améliorer la lisibilité */
  color: white; /* Assurez-vous que le texte est lisible sur le fond sombre */
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex: 1;
  padding: 0 15px; /* Ajoutez un espacement entre les colonnes */
  box-sizing: border-box; /* Assurez-vous que la taille inclut les bordures et le padding */
}
@media screen and (max-width: 768px) {
  .text-responsive {
    font-size: 14px; /* Taille du texte pour les écrans de moins de 768px */
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .text-responsive {
    font-size: 16px; /* Taille du texte pour les écrans de 769px à 992px */
  }
}

@media screen and (min-width: 993px) {
  .text-responsive {
    font-size: 18px; /* Taille du texte pour les écrans de plus de 993px */
  }
}

.famous-card {
  position: relative;
  width: 100%;
}

.img13 {
  width: 100%;
  height: auto;
}

.famous-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}
.filter-card{
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  padding: 10px 15px;

}
.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-2);
 
}
.filter-card li{
list-style-type: none;
margin-right: 20px;
padding-left: -40px !important;
}
.filter-card ol, ul {
  padding-left: 0rem;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-1);
  cursor: pointer;
}
.sub-title, .filter-card .form-check-label{
  font-size: 14px;
  font-weight: 600;
  font-size: 13px;
  color: black;
}
.filter-card .form-check-input{
  background-color: var(--color-2);
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
.colors li{
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}
.Product-tags .badge {
  margin-right: 10px; /* Ajoute un espacement entre chaque étiquette */
  margin-bottom: 10px; /* Ajoute un espacement entre les lignes d'étiquettes */
}
.random-products {
  display: flex;
  align-items: center;
}

.random-products .w-50 {
  width: 50%;
}

.random-products img {
  margin-right: 20px; /* Ajoute un espace entre l'image et le texte */
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas de son conteneur */
}

.random-products .info {
  flex-grow: 1; /* Permet au contenu de s'étendre pour remplir l'espace disponible */
}

.random-products h6 {
  margin-bottom: 10px; /* Ajoute un espace en dessous du texte */
}

.random-products .ant-rate {
  font-size: 10px; /* Diminue la taille du composant Rate */
}
.img14{
  width: 90px;
  height: 100px;
}
.random-products h6{
  font-size: 14px;
  margin-bottom: 8px;
}
.random-products:first-child{
  border-bottom:4px solid white ;
}
.filter-sort-grid{
  background-color: rgb(236, 233, 233);
}

.contact-inner-wrapper{
padding:20px;
background-color: rgb(236, 233, 233);
border-radius: 15px;
gap: 15px;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}
.contact-inner-wrapper > div{
  width: 48%;
}

.contact-formulaire .form-control  {
  color: var(--color-3) !important; /* Changer la couleur de l'encadrement lorsque le champ est en focus */
}
.uls{
  list-style-type: none;
}
.uls span a ,.uls span  {
  font-size: 15px;
  color: black;
}

.compare-product-card{
  padding: 20px 15px;
  background-color: rgb(236, 233, 233);
border-radius: 10px;
}
.product-detail {
  border-top: 1px solid #e0e0e0; /* Définition du style de la bordure */
  margin: 10px 0; /* Marge au-dessus et en dessous de la bordure */
}
.product-content {
  margin: 20px; /* Ajouter une marge de 20 pixels autour de chaque carte de produit */
}
.wishlist-product-card{
  padding: 20px 15px;
  background-color: rgb(236, 233, 233);
border-radius: 10px;
}

    .product-detail{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
      border-top: 1px solid var(--color-1);
    }
    .icon-top-right {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30px;
    }
    .login-card{
      padding: 20px;
      background-color: rgb(236, 233, 233);

margin: 50px auto;
    }
    .login-card h3{
      font-size: 19px;
      margin-bottom: 30px;
    }
    .login-card .form-control{
      height: 50px;
      background-color: #f5f5f7;
      color: #777777;
      font-size: 14px;
      border-radius: 10px;
      border-color: transparent;
    }
    .login-card .link{
      color: black;
    }
    .single-blog-card h3{
      font-size: 24px;
      font-weight: 600;
      color: var(--color-2);
    }
    .single-blog-card p{
      color: #777777;
      font-size: 14px;
    }
    .single-blog-card a{
      font-size: 15px;
      margin-bottom: 20px;
      color: #777777;
    }
    .cr7 {
      padding: 20px;
      background-color: rgb(236, 233, 233);
     
     /* Vous pouvez ajuster la hauteur selon vos besoins */
      margin: 50px auto;
      overflow: auto; /* Permet le défilement si le contenu dépasse la hauteur spécifiée */
    }
    .description-product-wrapper  p{
      padding: 20px;
      background-color: rgb(236, 233, 233);
width: auto;
margin:  20px auto;
    }
    .description-product-wrapper  h3{
      font-size: 24px;
      font-weight: 600;
      color: var(--color-2);
      
    }
    .review-product-wrapper  {
      padding: 20px;
      background-color: rgb(236, 233, 233);
  width: auto;
margin:  20px auto;
    }
    .image-produit img{
      background-color: rgb(236, 233, 233);
  width: 100% !important;
  height: 400px !important;

    }


    .other-product-images > div {
      padding: 10px;
      width: 100%;
      max-width: calc(50% - 20px); /* Pour garantir que deux éléments s'affichent côte à côte */
    }
    
    .other-product-images img {
      width: 100%;
      height: auto;
    }
    


    .main-product-wrapper .js-image-zoom__zoomed-area {
      width: 200px; /* Largeur */
      height: 500px; /* Hauteur */
      background-color: white; /* Couleur de fond */
      border-radius: 10px; /* Bordure arrondie */
      border: 1px solid #ccc; /* Bordure */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre portée */
      z-index: 999; /* Index Z pour empiler au-dessus des autres éléments */
    }
    
    .main-product-detail{
      background-color: rgb(236, 233, 233);
padding: 10px;
    }
    .main-product-detail h3.title{
      font-size: 18px;
      font-weight: 600;
      color: #76ABAE;
    }
    .main-product-detail p.title{
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
    .product-heading{
      font-size: 14px;
      margin-bottom: 0px;

      color: var(--color-1);

    }
    .product-data{
      font-size: 13px;
      color: #777777;
      margin-bottom: 0px;
    }
    .icon{
      width: 30px;
      height: 30px;
    }
    .links{
      color: black;
    }
    .cart-header{
      border-bottom: 1px solid #eaeaea;
    }
    .cart-header h4{
      font-size: 30px;
      color: #777777;
    }
    .cart-col-1{
width: 40%;
    }
    .cart-col-2{
      width: 10%;
    }
    .cart-col-3{
      width: 15%;

    }
    .cart-col-4{
      width: 15%;

    }
    .cart-col-1 p,.cart-col-2 p,.cart-col-3 p,.cart-col-4 p{
font-size: 14px;
    }

    .total{
      font-size: 14x;
      color: var(--color-1);
    }
    .total-price{
      font-size: 16x;
      color: #777777;
    }

    .error{
      color: red !important;
    }
    .colores{
      color: red;
    }
    .colores > strike,
    .colores > span:nth-child(1) {
      color: #777777;
    }
    .error1{
      color: red;
    }
    .profile_card{
      padding: 20px 15px;
      background-color: rgb(236, 233, 233);
    border-radius: 10px;
    }

   
     /* img2 */
    
    .spacer {
      width: 10px; /* Ajustez la largeur de l'espace selon vos besoins */
    }

    @media screen and (max-width: 768px) {
      .uls span a, .uls span {
          font-size: 14px;
      }
  }
  
  /* Media query pour les petits écrans */
  @media screen and (max-width: 576px) {
      .uls span a, .uls span {
          font-size: 10px;
      }
  }
  .ic{
    width: 50px;
    height: 20px;
  }
  :where(.css-dev-only-do-not-override-1ae8k9u).ant-btn-primary {
    
    background: #76ABAE !important;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.site-result-demo-error-icon {
  color: red;
}

.img14 {
  width: 40%;
  height: 35%;
}
/* .cart-header h4 */






.ranking li {
  display: flex;
  justify-content: space-between;
  color: #95979d;
  padding-bottom: 8px;
}
.review-section .stars-counters td.star-num {
  color: #4a73e8;
}
.ranking li>span {
  color: #62646a;
  white-space: nowrap;
  margin-left: 12px;
}
.review-section {
  border-bottom: 1px solid #dadbdd;
  padding-bottom: 24px;
  margin-bottom: 34px;
  padding-top: 64px;
}
.review-section select, .review-section .select2-container {
  width: 188px !important;
  border-radius: 3px;
}
ul, ul li {
 list-style: none;
 margin: 0px;
}
.helpful-thumbs, .helpful-thumb {
 display: flex;
 align-items: center;
 font-weight: 700;
}
/* cr7 services*/
.small-banner img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
}

@media (min-width: 992px) {
  .small-banner img {
    width: 75%; /* Ajustez ce pourcentage selon la taille souhaitée */
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .small-banner img {
    width: 60%; /* Ajustez ce pourcentage selon la taille souhaitée */
  max-height: 80%;

    margin: 0 auto;
  }
}
